.endless {
  .paras {
    display: grid;
    gap: 1rem;

    p {
      font-size: 1.25rem;
    }
  }
  .cards {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
  }

  ul {
    margin-left: 0.3rem;
  }
  li::before {
    content: "\2022";
    color: $primary;
    margin-right: 0.3rem;
  }

  .card {
    border: 1px solid #11332241;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
  }

  img {
    max-width: 25rem;
    border-radius: 10px;
  }
}

@media (min-width: 640px) {
  .endless {
    .cards {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}
