// Footer
footer {
  border-top: 1px solid #1133223a;
  transition: background 0.3s ease-in-out;
  background-color: $col-white;
  padding: 0 1rem;
  padding-top: 3rem;

  .wrapper {
    gap: 2rem;
  }

  .parent-link {
    font-size: 1.6rem;
  }

  .footer-links {
    column-gap: 1rem;
    row-gap: 2rem;
  }

  .navigate-links {
    margin-top: 0.8rem;
    margin-left: 1rem;
    gap: 0.5rem;
    a {
      font-size: 1.1rem;
      position: relative;
      transition: 0.3s ease-in-out;
    }

    a:hover {
      opacity: 0.65;
    }
  }

  .navigate-links {
    a::before {
      content: "-";
      position: absolute;
      top: 50%;
      left: -1rem;
      transform: translateY(-50%);
    }
  }

  .contact-links {
    margin-top: 0.8rem;
    gap: 0.5rem;
    .chat-whatsapp {
      max-width: 10.9rem;
      gap: 0.4rem;
      color: $bg-color;
      background-color: $whatsapp-color;
      padding: 0.6rem;
      border-radius: 6px;
      font-size: 0.9rem;

      svg {
        font-size: 1.1rem;
      }
    }
  }

  .phone {
    transition: 0.3s ease-in-out;
  }

  // Copyright
  .copyright {
    border-top: 1px solid #1a7c4146;
    padding: 1rem 0;
    span {
      transition: color 0.3s ease-in-out;
      color: $accent-one;
      font-size: 0.85rem;
    }
  }
}

footer {
  background-color: $col-white;
  .footer-links {
    row-gap: 3rem;
  }
  margin-bottom: 2rem;
}

@media (min-width: 400px) {
  footer {
    .footer-links {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
@media (min-width: 640px) {
  footer {
    .footer-links {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
@media (min-width: 768px) {
}

@media (min-width: 1024px) {
  footer {
    .footer-links {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
