// Variables
$primary: #0d4235;
$bg-color: #eeeedd;
$dark-mode: #04170f;
$col-white: white;
$submenu-bg: #b7cfa1;
$list-bottom-border: #0d423523;
$whatsapp-color: #25d366;
$accent-one: #9a9a2c;
$primary: #113322;
/*---------------------------------------------------- 
Main Section
----------------------------------------------------*/
.main-sec {
  position: relative;
  height: 100%;
  z-index: 99;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 2px 7px 5px rgba(4, 23, 15, 0.3),
      0px -4px 10px rgba(255, 255, 255, 0.2);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 60;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-wrapper {
    overflow: hidden;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  #bg-video {
    width: 100%;
    height: 90vh;
    object-fit: fill;
    overflow: hidden;
    transform: scale(1.05);
    opacity: 0;
  }
}

.main-bg-img {
  background-image: url("./images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
}

@media (min-width: 400px) {
  .main-sec {
    h1 {
      font-size: 2.5rem;
    }
  }
}
@media (min-width: 640px) {
  .main-sec {
    h1 {
      font-size: 3.5rem;
    }
  }
}

@media (min-width: 768px) {
  .main-sec {
    h1 {
      font-size: 4.5rem;
    }
  }
}


@media (min-width: 400px) {
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}

@media (min-width: 1280px) {
}
