/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@font-face {
  font-family: "GillSans";
  src: url(./fonts/gillsans-regular.otf) format("opentype");
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
  font-family: "GillSans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #0d4235;
}
img {
  width: 100%;
}
.main-page {
  display: grid;
  gap: 4rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.grid {
  display: grid;
}
