@charset "UTF-8";
/*---------------------------------------------------- import Fonts ----------------------------------------------------*/
@font-face {
  font-family: "GillSans";
  src: url(./fonts/gillsans-regular.otf) format("opentype");
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  margin: 0;
  padding: 0;
  font-family: "GillSans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d4235;
}

img {
  width: 100%;
}

.main-page {
  display: grid;
  gap: 4rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.grid {
  display: grid;
}

body {
  line-height: inherit;
  color: #113322;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
  position: relative;
  margin: 0 1rem;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  width: 100%;
  background-color: white;
  z-index: 9999999;
}
body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  width: 100%;
  background-color: white;
  z-index: 9999999;
}

main {
  max-width: 1920px;
  margin: auto;
  width: 100%;
  background-color: #eeeedd;
  margin-top: 1rem;
}
main::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1rem;
  height: 100%;
  background-color: white;
  z-index: 9999999;
}
main::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1rem;
  height: 100%;
  background-color: white;
  z-index: 9999999;
}

.nav-drop-shadow {
  filter: drop-shadow(0 10px 8px rgba(38, 38, 38, 0.04)) drop-shadow(0 4px 3px rgba(38, 38, 38, 0.1));
}

.hidden-overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

.content {
  padding: 0 2rem;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 200;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.header h2 {
  font-size: 2.7rem;
  font-weight: 700;
  position: relative;
}
.header h2::before {
  content: "";
  position: absolute;
  left: -1rem;
  height: 0.2rem;
  width: 90%;
  background-color: rgba(102, 32, 32, 0.5764705882);
  bottom: -1rem;
  border-radius: 30px;
}
.header h2::after {
  content: "";
  position: absolute;
  right: -1rem;
  height: 0.2rem;
  width: 90%;
  background-color: rgba(102, 32, 32, 0.5764705882);
  bottom: -1.4rem;
  border-radius: 30px;
}

/*---------------------------------------------------- 
header Section
----------------------------------------------------*/
.main-logo img {
  width: 8rem;
  transition: 0.4s ease-in-out;
  padding: 0.8rem;
  background-color: rgba(238, 238, 221, 0.662745098);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 5px;
  z-index: 999;
}

.logo-width {
  background-color: transparent !important;
  padding: 0 1rem;
}

.inside-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999999;
  padding: 1rem 2.5rem;
  max-width: 1920px;
  margin: auto;
  transition: 0.4s ease-in-out;
}
.inside-nav .large-nav {
  display: none;
}
.inside-nav nav {
  background-color: transparent;
  position: relative;
  padding: 0 1rem;
}
.inside-nav nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(238, 238, 221, 0.662745098);
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 10px;
}
.inside-nav nav > ul {
  gap: 0rem;
}
.inside-nav nav > ul li {
  position: relative;
  transition: background 0.3s ease-in-out;
}
.inside-nav nav > ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.inside-nav nav > ul li:hover .submenu::before {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
.inside-nav nav > ul li:hover > a {
  color: #113322;
  background-color: #eeeedd;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.inside-nav nav > ul a {
  display: flex;
  padding: 1rem 0.7rem;
  transition: 0.3s ease-in-out;
  font-size: 1.3rem;
  text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(238, 238, 221, 0.3);
}
.inside-nav nav > ul a:hover {
  color: #113322;
}
.inside-nav nav .submenu.grid {
  transition: 0.3s ease-in-out;
  border-radius: 2px;
  padding: 1rem 0.3rem;
  position: absolute;
  top: 100%;
  opacity: 0;
  visibility: hidden;
}
.inside-nav nav .submenu.grid::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  inset: 0;
  background-color: rgba(238, 238, 221, 0.1450980392);
  opacity: 0;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  transition: 0.3s ease-in-out;
}
.inside-nav nav .submenu.grid a {
  display: flex;
  width: 12rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(255, 255, 255, 0.2);
  padding: 0.5rem 0.8rem;
  transition: 0.3s ease-in-out;
  color: #113322;
  font-size: 1.2rem;
  border-bottom: 1px solid transparent;
  padding: 0.5rem 0.7rem;
}
.inside-nav nav .submenu.grid a:hover {
  border-bottom: 1px solid rgba(102, 32, 32, 0.2941176471);
  transform: scale(1.02);
}
.inside-nav nav .sub-col {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(238, 238, 221, 0.3843137255);
}

.drop-nav {
  padding: 0 2rem;
}
.drop-nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(238, 238, 221, 0.7529411765);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  height: 100%;
  width: 100%;
  display: block;
  filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.1)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
}
.drop-nav nav {
  background-color: transparent;
  position: relative;
  padding: 0 1rem;
}
.drop-nav nav::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  border-radius: 10px;
}

.nav_small {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
.nav_small .nav-links-small {
  padding: 1rem;
  height: 100vh;
  width: 60%;
  justify-items: start;
  align-items: start;
  transition: 0.6s ease-in-out;
  position: relative;
  z-index: 999;
  transition: 0.4s ease-in-out;
  overflow: auto;
}
.nav_small .nav-links-small .mobile-nav-ul {
  background-color: #ffffcc;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  padding-bottom: 5rem;
}
.nav_small .nav-links-small a {
  color: #113322;
}
.nav_small .nav-links-small ul {
  width: inherit;
  overflow: auto;
}
.nav_small .nav-links-small .submenu {
  margin-left: 0.5rem;
  max-height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.nav_small .nav-links-small .submenu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid wheat;
}
.nav_small .nav-links-small .nav-contact {
  padding: 0.5rem 0;
}
.nav_small .nav-links-small .menu-arrow {
  border: 2px solid rgba(102, 32, 32, 0.4117647059);
  height: 1.5rem;
  width: 1.5rem;
}
.nav_small .nav-links-small .menu-arrow svg {
  transition: 0.3s linear;
  color: #113322;
}
.nav_small .link {
  padding: 0.5rem 0;
  border-bottom: 1px solid wheat;
}
.nav_small .link a {
  width: 100%;
}

.nav-logo {
  width: 100%;
  display: grid;
  padding: 1rem;
  background-color: #eeeedd;
  border-radius: 5px;
  justify-content: center;
}
.nav-logo img {
  width: 12rem;
  display: flex;
}

.cross {
  position: absolute;
  right: 9%;
  top: 11%;
  z-index: 9999;
  transition: 0.5s ease-in-out;
}

.rotate-cross {
  transform: rotate(180deg);
}

.nav-visibility {
  visibility: visible;
  opacity: 1;
}

.nav-bg {
  background-color: rgba(107, 107, 107, 0.5137254902);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  margin: 0 1rem;
  position: absolute;
  inset: 0;
  z-index: 99;
  transition: all 0.4s ease-in-out;
  opacity: 0;
}

.nav-bg-opacity {
  opacity: 1;
}

.rotate-svg {
  transform: rotate(180deg);
}

.toggle-height {
  max-height: 450px !important;
}

.hamburger {
  margin: 0.5rem 0;
  padding: 0 1rem;
}
.hamburger svg {
  width: 2rem;
  height: 2rem;
}

@media (min-width: 640px) {
  .nav_small .nav-links-small {
    padding: 2rem;
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .inside-nav .large-nav {
    display: flex;
  }
  .inside-nav .main-logo img {
    width: 15rem;
    transition: 0.4s ease-in-out;
  }
  .inside-nav .logo-width {
    width: 10rem !important;
  }
  .hamburger {
    display: none;
  }
}
/*---------------------------------------------------- 
Main Section
----------------------------------------------------*/
/*---------------------------------------------------- 
Main Section
----------------------------------------------------*/
.main-sec {
  position: relative;
  height: 100%;
  z-index: 99;
}
.main-sec h1 {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 2px 7px 5px rgba(4, 23, 15, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.2);
  background-color: rgba(238, 238, 221, 0.662745098);
  padding: 0.8rem;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
}
.main-sec .content {
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 60;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-sec .bg-wrapper {
  overflow: hidden;
  position: relative;
}
.main-sec .bg-wrapper::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.main-sec #bg-video {
  width: 100%;
  height: 90vh;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: hidden;
  transform: scale(1.05);
  opacity: 0;
}

.main-bg-img {
  background-image: url("./images/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

@media (min-width: 400px) {
  .main-sec h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 640px) {
  .main-sec h1 {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .main-sec h1 {
    font-size: 4.5rem;
  }
}
/*---------------------------------------------------- 
 Map Section
----------------------------------------------------*/
/*---------------------------------------------------- 
Map Section
----------------------------------------------------*/
.map {
  display: grid;
  gap: 2rem;
  z-index: 0;
}
.map .content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  height: 600px;
  width: 100%;
  max-width: 80rem;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/*---------------------------------------------------- 
 Footer Section
----------------------------------------------------*/
footer {
  border-top: 1px solid rgba(17, 51, 34, 0.2274509804);
  transition: background 0.3s ease-in-out;
  background-color: white;
  padding: 0 1rem;
  padding-top: 3rem;
}
footer .wrapper {
  gap: 2rem;
}
footer .parent-link {
  font-size: 1.6rem;
}
footer .footer-links {
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 2rem;
}
footer .navigate-links {
  margin-top: 0.8rem;
  margin-left: 1rem;
  gap: 0.5rem;
}
footer .navigate-links a {
  font-size: 1.1rem;
  position: relative;
  transition: 0.3s ease-in-out;
}
footer .navigate-links a:hover {
  opacity: 0.65;
}
footer .navigate-links a::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
footer .contact-links {
  margin-top: 0.8rem;
  gap: 0.5rem;
}
footer .contact-links .chat-whatsapp {
  max-width: 10.9rem;
  gap: 0.4rem;
  color: #eeeedd;
  background-color: #25d366;
  padding: 0.6rem;
  border-radius: 6px;
  font-size: 0.9rem;
}
footer .contact-links .chat-whatsapp svg {
  font-size: 1.1rem;
}
footer .phone {
  transition: 0.3s ease-in-out;
}
footer .copyright {
  border-top: 1px solid rgba(26, 124, 65, 0.2745098039);
  padding: 1rem 0;
}
footer .copyright span {
  transition: color 0.3s ease-in-out;
  color: #9a9a2c;
  font-size: 0.85rem;
}

footer {
  background-color: white;
  margin-bottom: 2rem;
}
footer .footer-links {
  row-gap: 3rem;
}

@media (min-width: 400px) {
  footer .footer-links {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 640px) {
  footer .footer-links {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  footer .footer-links {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
/*---------------------------------------------------- 
 Endless Section
----------------------------------------------------*/
.endless .paras {
  display: grid;
  gap: 1rem;
}
.endless .paras p {
  font-size: 1.25rem;
}
.endless .cards {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.endless ul {
  margin-left: 0.3rem;
}
.endless li::before {
  content: "•";
  color: #113322;
  margin-right: 0.3rem;
}
.endless .card {
  border: 1px solid rgba(17, 51, 34, 0.2549019608);
  padding: 1rem;
  border-radius: 10px;
  display: grid;
  gap: 1rem;
}
.endless img {
  max-width: 25rem;
  border-radius: 10px;
}

@media (min-width: 640px) {
  .endless .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
/*---------------------------------------------------- 
 Contact Section
----------------------------------------------------*/
/*---------------------------------------------------- 
Message Section
----------------------------------------------------*/
.contact {
  padding-top: 8rem;
  padding-bottom: 4rem;
  background-color: white;
}
.contact .message {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact .message input,
.contact .message textarea {
  background-color: transparent;
  font-size: 1.1rem;
  width: 100%;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(13, 66, 53, 0.3843137255);
  outline: 4px solid transparent;
  color: #113322;
}
.contact .message input::-moz-placeholder, .contact .message textarea::-moz-placeholder {
  text-transform: uppercase;
  color: #113322;
}
.contact .message input::placeholder,
.contact .message textarea::placeholder {
  text-transform: uppercase;
  color: #113322;
}
.contact .message input:focus,
.contact .message textarea:focus {
  outline: 4px solid rgba(154, 154, 44, 0.3843137255);
}
.contact .message input {
  padding: 0.5rem 1rem;
}
.contact .message textarea {
  padding: 1rem;
  resize: vertical;
  height: 10rem;
}
.contact .message form {
  display: grid;
  gap: 1.5rem;
  max-width: 40rem;
  width: 100%;
}
.contact .message form button {
  background-color: #113322;
  border-radius: 3px;
  padding: 0.6rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #9a9a2c;
  cursor: pointer;
}
.contact .message .name {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

/*---------------------------------------------------- 
 Section
----------------------------------------------------*/
.main-sec {
  padding: 0;
}

@media (min-width: 640px) {
  main {
    margin-top: 2rem;
  }
  main::before {
    width: 2rem;
  }
  main::after {
    width: 2rem;
  }
  body {
    margin: 0 2rem;
  }
  body::before {
    height: 2rem;
  }
  body::after {
    height: 2rem;
  }
}/*# sourceMappingURL=style.css.map */